/* style.css */

/* Reset and Font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Arcade";
    src: url("Graphics/Fonts/ARCADECLASSIC.TTF");
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Arcade", sans-serif; 
    overflow-x: hidden;
}

.main {
    background-color: green;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.main img {
    margin: 0 10px;
}

.main span {
    font-size: 2.6vw;
    color: white;
    word-spacing: 0.3vw;
}

.main .text {
    font-size: 1.9vw;
    padding-bottom: 1.5vh;
    word-spacing: 1.3vh;
    /* margin-left: 12vw; */
}

.title-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-board {
    display: flex;
    flex-direction: row;
    margin-left: 10vw;    
}

.score-board {
    /* background-color: rgb(39, 155, 39); */
    width: 26vw;
    height: 75vh;
    margin-left: 7vw;
}

#leaderboard {
    color: white;
    letter-spacing: 1px;
    text-align: center;
    background-color: rgb(59, 180, 59);
}

.player-name {
    font-size: 1.7vw;
    letter-spacing: 0;
    word-spacing: 0.5vw;
    background-color: rgb(39, 155, 39);
    padding: 0.4vh 0;
}
.player-name::marker {
   content : "";
}

input {
    font-size: 1.3vw;
    width: 13vw;
    height: 5.5vh;
    margin: 1.3vh;
    text-align: center;
    border: none;
    font-family: "Arcade", sans-serif;
    word-spacing: 0.5vw;
}

input::placeholder {
    font-size: 1.3vw;
    text-align: center;
    font-family: "Arcade", sans-serif;
    word-spacing: 0.3vw;
}

button {
    font-family: "Arcade", sans-serif;
    word-spacing: 0.3vw;
    text-align: center;
    border: none;
    font-size: 1.3vw;
    height: 5.5vh;
    width: 6.3vw;
    background-color: rgb(59, 180, 59);
    color: white;
}

#game-board {
    background-color: rgb(39, 155, 39);
    height: 83vh;
    width: 83vh;   
}

.title-board :nth-child(1) {
    font-size: 3.3vw;
    color: white;
    word-spacing: 0.6vw;
}

.nav {
    background-color: rgb(59, 180, 59);
    width: 100%;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav span {
    font-size: 2vw;
    text-align: center;
    padding: 0 1.5vw;
    word-spacing: 1.3vh;
}

.board-grid {
    background-color: rgb(39, 155, 39);
    width: 83vh;
    height: 76vh;
    display: grid;
    grid-template: repeat(15, 1fr) / repeat(15, 1fr);
}

.board-grid span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-grid .food {
    background-image: url(Graphics/apple.png);
    background-size: cover;
    background-position: center;
}

.board-grid .snake {
    background-image: url(Graphics/body_horizontal.png);
    background-position: center;
    background-size: cover;
}

.controller {
    display: none;
}

.credits {
    position: relative;
    left: 38%;
    color: white;
    word-spacing: 0.3vw;
}

.credits a {
    color: white;
    
}

@media (max-width: 500px) {

    #game-board {
        width: 78vw;
        height: 78vw;
    }
    .board-grid {
        width: 78vw;
        height: 72vw;
    }
    .nav {
        width: 100%;
        height: 5.5vh;
    }
    .main span {
        font-size: 5.5vw;
        color: white;
        word-spacing: 0.8vw;
    }
    
    .main .text {
        font-size: 3.7vw;
        margin-left: 0.5vw;
    }

    .nav span {
        font-size: 4vw;
        text-align: center;
        padding: 0 4.5vw;
    }

    .controller {
        display: grid;
        grid-template-columns: repeat(3, 0fr);
        grid-template-rows: repeat(3, 0fr);
        height: 15vw;
        justify-content: center;
        margin-top: 1.8vw;
    }
    
    .controller i {
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        cursor: pointer;
        background-color: rgb(59, 180, 59);
        color: white;
        border: 0.2vw solid rgb(39, 155, 39);
        width: 8.5vw; 
        height: 8.5vw;    
    }

    .control-board {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 17vw; 
    }

    .controller i:hover {
        background-color: rgb(39, 155, 39);
    }
    
    .ri-arrow-up-line {
        grid-column: 2;
        grid-row: 1;
    }

    .ri-arrow-left-line{
        grid-column: 1;
        grid-row: 2;
    }

    .ri-arrow-down-line {
        grid-column: 2;
        grid-row: 3;
    }

    .ri-arrow-right-line {
        grid-column: 3;
        grid-row: 2;
    }

    
    .full-board{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 39vh;
        height: 85vh;
        
    }

    .score-board{
        
        margin-left: 0;
    }
    
    .credits{
        bottom: 0vh;
        left: 14vh;
        font-size: 1.6vh;
    }
    
    .title-board :nth-child(1) {
        font-size: 3vh;
        padding-top: 2vh;
    }
    
    #leaderboard{
        margin-top: 17vh;
        width: 78vw;
    }
    
    .player-name{
        font-size: 2.8vh;
        letter-spacing: 0;
        word-spacing: 1vw;
        padding: 0.5vh 0;
    }
    
    .title-board span .rimg{
        padding: 0;
    }
    
    input{
        font-size: 2vh;
        width: 38vw;
        height: 3.5vh;
        margin: 1.2vh;
    }
    input::placeholder{
        font-size: 2vh;
    
    }
    
    button{
        font-size: 2vh;
        height: 3.5vh;
        width: 17.5vw;
    }
    
    form{
        width: 65vw;
    }
}    
